<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_demo_kotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Demo_Kotlin">
        <activity
            android:name=".ExpandableListviewActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableListViewActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewpagertwoRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagertwoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPageroneActivity"
            android:exported="false" />
        <activity
            android:name=".GridLayoutRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.ConstraintLayoutGuidelineActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ListviewActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.IncludeandMergeActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.GridLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".differentLayout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".UiElementActivity"
            android:exported="false" />
        <activity
            android:name=".Kotlin_Basic"
            android:exported="false" />
        <activity
            android:name=".Kotlin_bASIC"
            android:exported="false"
            android:label="@string/title_activity_kotlin_basic"
            android:theme="@style/Theme.Android_Demo_Kotlin.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>